{{ form_start(form) }}
  {{ form_row(form.nom) }}
  {{ form_row(form.prenom) }}
  {{ form_row(form.prenom) }}
  <label for="contactChoice2">Femme</label>
  {{ form_row(form.email) }}
  {{ form_row(form.plainPassword.first) }}
  {{ form_row(form.plainPassword.second) }}
  <button>Register!</button>
{{ form_end(form) }}
